<a href="https://colab.research.google.com/github/IrfanKhalid/Hello/blob/Junior/ForexExchange.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import sklearn as sk

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [0]:
!ls

drive  Forex_AUDUSD1440.csv  sample_data

In [0]:
Forex=pd.read_csv('Forex_AUDUSD1440.csv')

In [0]:
Forex.head()

         Time     Open     High      Low    Close  Volume
0  2012.12.10  1.04865  1.05049  1.04643  1.04868   59083
1  2012.12.11  1.04870  1.05315  1.04602  1.05266   61555
2  2012.12.12  1.05265  1.05848  1.05219  1.05531   68021
3  2012.12.13  1.05522  1.05628  1.05072  1.05264   66515
4  2012.12.14  1.05261  1.05770  1.05090  1.05651   68063